$website-width: 1280px;
$main-color: #1b5c9b;
$light-color: #e8eef5;
$medium-color: #769dc3;
$dark-color: #0d2e4d;
$main-bg: url(../assets/main-bg.jpeg);

// Colors for main page chat UI
$chat-light-color: rgb(240, 240, 240);
$chat-medium-color: rgb(230, 230, 230);
$chat-dark-color: #4a4a4a;
$chat-border-color: rgb(220, 220, 220);
