@import 'config';
@import 'utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open-Sans', sans-serif;
  height: 100vh;
  background: $main-bg no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #000;
}

i {
  color: $chat-dark-color;
  &:hover {
    cursor: pointer;
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.1);
}

// Login page
#login {
  // Main wrapper for everything
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Center box with 2 columns
  &-box {
    display: flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    background: $light-color;

    // Left col (sign in)
    .sign-in {
      background: $light-color;
      width: 525px;
      padding: 3rem 4.5rem 3.5rem 4.5rem;

      &-top {
        display: grid;
        grid-template-areas:
          'logo title'
          'logo msg';
        margin-bottom: 22px;

        .sign-in-logo {
          grid-area: logo;
          width: 90px;
          height: 83px;
          align-self: center;
          justify-self: center;
          margin-right: 25px;
        }

        .sign-in-title {
          grid-area: title;
          align-self: center;
          font-weight: bold;
          font-size: 1.8rem;
          color: $dark-color;
        }

        .sign-in-message {
          grid-area: msg;
          align-self: center;
          color: $main-color;
        }
      }

      &-form-area {
        background: $light-color;
        display: flex;
        flex-direction: column;

        .group {
          position: relative;
          margin: 32px 0;

          .form-input {
            background: none;
            background-color: $light-color;
            color: $main-color;
            font-size: 22px;
            padding: 3px 3px;
            display: block;
            width: 100%;
            border: none;
            border-radius: 0;
            border-bottom: 2px solid $main-color;

            &:focus {
              outline: none;
            }

            &:focus ~ .form-input-label {
              @include shrinkLabel();
            }
          }

          input[type='password'] {
            letter-spacing: 0.3rem;
          }

          .form-input-label {
            color: $medium-color;
            font-size: 16px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 3px;
            top: 7px;
            transition: 300ms ease all;

            &.shrink {
              @include shrinkLabel();
            }
          }
        }

        .btn-main {
          margin: 29px 0 26px 0;
        }
      }
    }

    // Right col (sign-up)
    .sign-up {
      background: $dark-color;
      width: 525px;
      padding: 3rem 4.5rem 3.5rem 4.5rem;

      &-top {
        display: grid;
        grid-template-areas:
          'title'
          'msg';
        height: 83px;
        margin-bottom: 10px;

        .sign-up-title {
          grid-area: title;
          font-size: 1.8rem;
          color: #fff;
          font-weight: bold;
          align-self: center;
        }

        .sign-up-message {
          grid-area: msg;
          color: $light-color;
          align-self: center;
        }
      }

      &-form-area {
        background: $dark-color;
        display: flex;
        flex-direction: column;

        .group {
          position: relative;
          margin: 20px 0;

          .form-input {
            background: none;
            background-color: $dark-color;
            color: #fff;
            font-size: 20px;
            padding: 3px 3px;
            display: block;
            width: 100%;
            border: none;
            border-radius: 0;
            border-bottom: 1.5px solid $light-color;

            &:focus {
              outline: none;
            }

            &:focus ~ .form-input-label {
              @include shrinkLabel();
            }
          }

          input[type='password'] {
            letter-spacing: 0.3rem;
          }

          .form-input-label {
            color: $medium-color;
            font-size: 16px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 3px;
            top: 5px;
            transition: 300ms ease all;

            &.shrink {
              @include shrinkLabel();
            }
          }
        }

        .btn-sign-up {
          margin-top: 22px;
        }
      }
    }
  }
}

// Main page
#main-wrapper {
  z-index: 100;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;

  // Center box (left nav col, right chat col)
  #center-box {
    position: relative;
    top: 19px;
    width: 1396px;
    height: calc(100% - 38px);
    display: flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);

    // Left col (navigation, friend/chat list)
    .nav-col {
      height: 100%;
      min-width: 250px;
      border-right: 1px solid $chat-border-color;
      flex: 30%;
      position: relative;
      display: flex;
      flex-direction: column;

      // Nav top
      &-top {
        min-height: 60px;
        width: 100%;
        background: $chat-medium-color;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-photo-and-displayname {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 16px;

          .user-displayname {
            font-size: 0.9rem;
            margin-left: 10px;
            font-weight: bold;
          }
        }
        &-icons-tray {
          display: flex;
          align-items: center;
          margin-right: 25px;
          i {
            margin-left: 20px;
          }
        }
      }

      // Nav search
      &-search {
        min-height: 50px;
        width: 100%;
        background: $chat-light-color;
        display: flex;
        align-items: center;
        justify-content: center;
        input {
          height: 65%;
          width: 95%;
          border-radius: 30px;
          border: none;
          padding: 0 6px 0 35px;
          position: relative;

          &:focus {
            outline: none;
            border: 2px solid $medium-color;
          }
        }
        .search-icon {
          position: absolute;
          left: 18px;
          z-index: 98;
        }
        .clear-search-icon {
          position: absolute;
          right: 18px;
        }
      }

      // Nav list
      &-list {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background: #fff;
        display: flex;
        flex-direction: column;
        border-top: 1px solid $chat-border-color;

        .list-bar {
          min-height: 72px;
          display: flex;
          align-items: center;
          padding: 0 14px;
          position: relative;

          &:hover {
            background: $chat-medium-color;
          }

          &::after {
            content: '';
            height: 1px;
            width: calc(100% - 36px);
            position: absolute;
            background: $chat-medium-color;
            bottom: 0;
            left: 18px;
          }

          .bar-img {
            flex: 10%;
            margin-right: 15px;
            display: flex;

            img {
              align-self: center;
            }
          }

          .bar-info {
            flex: 90%;
            display: flex;
            justify-content: space-between;

            &-left {
              display: flex;
              flex-direction: column;

              .bar-name {
                font-size: 17px;
                margin-bottom: 2px;
              }
              .bar-latest-msg {
                font-size: 14px;
                color: hsla(0, 0, 0, 0.6);
              }
            }
            &-right {
              font-size: 12px;
              color: hsla(0, 0, 0, 0.5);
            }
          }
        }
      }
    }

    // Right col (messages window)
    .chat-col {
      height: 100%;
      flex: 0 0 70%;
    }
  }
}
